<div class="row">

    <div class="col-lg-12">
        <h2>Receipts</h2>

        Vendor: <input type="text" ng-model="receipt.vendor">
        <br>
        Desc: <input type="text" ng-model="receipt.description">
        <br>
        <!--
        <input type="text" ng-model="receipt.filename">
        <br>
        -->
        <input type="file" ng-file-select="onFileSelect($files, 1)">

        <br><br>
        <a class="btn btn-default" href="/public/#/receipts">Tilbake</a>
        <a class="btn btn-primary" ng-click="upload()">Save</a>
        <a class="btn btn-danger" ng-click="delete()">Delete</a>

        <br><br>
        <iframe id="viewer" ng-src="{{'/public/viewer.js/#' +fileUrl}}" width='800' height='600' allowfullscreen webkitallowfullscreen></iframe>

    </div>

</div>