<div class="row">

    <div class="col-lg-12">
        <h2>Receipts</h2>


        <div class="form-group">
            <label for="vendor">Vendor name</label>
            <input type="text" class="form-control" id="vendor" placeholder="Enter vendor name" ng-model="receipt.vendor">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description" ng-model="receipt.description">
        </div>
        <div class="form-group">
            <label for="upload">Upload receipt</label>
            <input type="file" id="upload" ng-file-select="onFileSelect($files, 1)">
            <p class="help-block">Example block-level help text here.</p>
        </div>

        <br><br>
        <a class="btn btn-default" href="/public/#/receipts">Tilbake</a>
        <a class="btn btn-primary" ng-click="upload()">Save</a>
        <a class="btn btn-danger" ng-click="delete()">Delete</a>

        <br><br>
        <iframe id="viewer" ng-src="{{'/public/viewer.js/#' +fileUrl}}" width='800' height='600' allowfullscreen webkitallowfullscreen></iframe>

    </div>

</div>