<div class="row">

    <div class="col-lg-12">
        <h2>Receipts</h2>

        <input type="text" ng-model="receipt.vendor">
        <br>
        <input type="text" ng-model="receipt.description">
        <br>
        <input type="text" ng-model="receipt.filename">
        <br>
        <img ng-src="{{fileUrl}}">

        <br><br>
        <a class="btn btn-default" href="/public/#/receipts">Tilbake</a>
        <a class="btn btn-primary" ng-click="save()">Save</a>
        <a class="btn btn-danger" ng-click="delete()">Delete</a>

    </div>

</div>